# Simple Log Analysis with Declare4Py

This tutorial explains how to perform simple analysis of logs with Declare4Py

After importing the Declare4Py package and specified the path of the log, a `Declare4Py` object has to be instantiated.

In [8]:
from src.api.declare4py import Declare4Py


log_path = "test/Sepsis Cases.xes.gz"
d4py = Declare4Py()

The next step is the parsing of the log with the `parse_xes_log` function. Logs can be passed both in the `.xes` or `xes.gz` formats.

In [9]:
d4py.parse_xes_log(log_path)

parsing log, completed traces ::   0%|          | 0/1050 [00:00<?, ?it/s]

Declare4Py offers several facilities for simple log indexing and analysis

In [10]:
# Return the number of cases in the log
print(f"Number of cases: {d4py.get_log_length()}")
print("--------------------------------------")

# Return the ids of the cases in the log
print(f"Cases ids:\n{d4py.get_trace_keys()}")
print("--------------------------------------")

# Return the names of the activities in the log
print(f"Activity alphabet:\n{d4py.get_log_alphabet_activities()}")
print("--------------------------------------")

# Return the names of the resources in the log
print(f"Resource alphabet:\n{d4py.get_log_alphabet_payload()}")
print("--------------------------------------")

Number of cases: 1050
--------------------------------------
Cases ids:
[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D'), (4, 'E'), (5, 'F'), (6, 'G'), (7, 'H'), (8, 'I'), (9, 'J'), (10, 'K'), (11, 'L'), (12, 'M'), (13, 'N'), (14, 'O'), (15, 'P'), (16, 'Q'), (17, 'R'), (18, 'S'), (19, 'T'), (20, 'U'), (21, 'V'), (22, 'W'), (23, 'X'), (24, 'Y'), (25, 'Z'), (26, 'AA'), (27, 'BA'), (28, 'CA'), (29, 'DA'), (30, 'EA'), (31, 'FA'), (32, 'GA'), (33, 'HA'), (34, 'IA'), (35, 'JA'), (36, 'KA'), (37, 'LA'), (38, 'MA'), (39, 'NA'), (40, 'OA'), (41, 'PA'), (42, 'QA'), (43, 'RA'), (44, 'SA'), (45, 'TA'), (46, 'UA'), (47, 'VA'), (48, 'WA'), (49, 'XA'), (50, 'YA'), (51, 'ZA'), (52, 'AB'), (53, 'BB'), (54, 'CB'), (55, 'DB'), (56, 'EB'), (57, 'FB'), (58, 'GB'), (59, 'HB'), (60, 'IB'), (61, 'JB'), (62, 'KB'), (63, 'LB'), (64, 'MB'), (65, 'NB'), (66, 'OB'), (67, 'PB'), (68, 'QB'), (69, 'RB'), (70, 'SB'), (71, 'TB'), (72, 'UB'), (73, 'VB'), (74, 'WB'), (75, 'XB'), (76, 'YB'), (77, 'ZB'), (78, 'AC'), (79, 'BC'), (80, 'CC'), (81, 'DC'), (82, 'EC'), (83, 'FC'), (84, 'GC'), (85, 'HC'), (86, 'IC'), (87, 'JC'), (88, 'KC'), (89, 'LC'), (90, 'MC'), (91, 'NC'), (92, 'OC'), (93, 'PC'), (94, 'QC'), (95, 'RC'), (96, 'SC'), (97, 'TC'), (98, 'UC'), (99, 'VC'), (100, 'WC'), (101, 'XC'), (102, 'YC'), (103, 'ZC'), (104, 'AD'), (105, 'BD'), (106, 'CD'), (107, 'DD'), (108, 'ED'), (109, 'FD'), (110, 'GD'), (111, 'HD'), (112, 'ID'), (113, 'JD'), (114, 'KD'), (115, 'LD'), (116, 'MD'), (117, 'ND'), (118, 'OD'), (119, 'PD'), (120, 'QD'), (121, 'RD'), (122, 'SD'), (123, 'TD'), (124, 'UD'), (125, 'VD'), (126, 'WD'), (127, 'XD'), (128, 'YD'), (129, 'ZD'), (130, 'AE'), (131, 'BE'), (132, 'CE'), (133, 'DE'), (134, 'EE'), (135, 'FE'), (136, 'GE'), (137, 'HE'), (138, 'IE'), (139, 'JE'), (140, 'KE'), (141, 'LE'), (142, 'ME'), (143, 'NE'), (144, 'OE'), (145, 'PE'), (146, 'QE'), (147, 'RE'), (148, 'SE'), (149, 'TE'), (150, 'UE'), (151, 'VE'), (152, 'WE'), (153, 'XE'), (154, 'YE'), (155, 'ZE'), (156, 'AF'), (157, 'BF'), (158, 'CF'), (159, 'DF'), (160, 'EF'), (161, 'FF'), (162, 'GF'), (163, 'HF'), (164, 'IF'), (165, 'JF'), (166, 'KF'), (167, 'LF'), (168, 'MF'), (169, 'NF'), (170, 'OF'), (171, 'PF'), (172, 'QF'), (173, 'RF'), (174, 'SF'), (175, 'TF'), (176, 'UF'), (177, 'VF'), (178, 'WF'), (179, 'XF'), (180, 'YF'), (181, 'ZF'), (182, 'AG'), (183, 'BG'), (184, 'CG'), (185, 'DG'), (186, 'EG'), (187, 'FG'), (188, 'GG'), (189, 'HG'), (190, 'IG'), (191, 'JG'), (192, 'KG'), (193, 'LG'), (194, 'MG'), (195, 'NG'), (196, 'OG'), (197, 'PG'), (198, 'QG'), (199, 'RG'), (200, 'SG'), (201, 'TG'), (202, 'UG'), (203, 'VG'), (204, 'WG'), (205, 'XG'), (206, 'YG'), (207, 'ZG'), (208, 'AH'), (209, 'BH'), (210, 'CH'), (211, 'DH'), (212, 'EH'), (213, 'FH'), (214, 'GH'), (215, 'HH'), (216, 'IH'), (217, 'JH'), (218, 'KH'), (219, 'LH'), (220, 'MH'), (221, 'NH'), (222, 'OH'), (223, 'PH'), (224, 'QH'), (225, 'RH'), (226, 'SH'), (227, 'TH'), (228, 'UH'), (229, 'VH'), (230, 'WH'), (231, 'XH'), (232, 'YH'), (233, 'ZH'), (234, 'AI'), (235, 'BI'), (236, 'CI'), (237, 'DI'), (238, 'EI'), (239, 'FI'), (240, 'GI'), (241, 'HI'), (242, 'II'), (243, 'JI'), (244, 'KI'), (245, 'LI'), (246, 'MI'), (247, 'NI'), (248, 'OI'), (249, 'PI'), (250, 'QI'), (251, 'RI'), (252, 'SI'), (253, 'TI'), (254, 'UI'), (255, 'VI'), (256, 'WI'), (257, 'XI'), (258, 'YI'), (259, 'ZI'), (260, 'AJ'), (261, 'BJ'), (262, 'CJ'), (263, 'DJ'), (264, 'EJ'), (265, 'FJ'), (266, 'GJ'), (267, 'HJ'), (268, 'IJ'), (269, 'JJ'), (270, 'KJ'), (271, 'LJ'), (272, 'MJ'), (273, 'NJ'), (274, 'OJ'), (275, 'PJ'), (276, 'QJ'), (277, 'RJ'), (278, 'SJ'), (279, 'TJ'), (280, 'UJ'), (281, 'VJ'), (282, 'XJ'), (283, 'YJ'), (284, 'ZJ'), (285, 'AK'), (286, 'BK'), (287, 'CK'), (288, 'DK'), (289, 'EK'), (290, 'FK'), (291, 'GK'), (292, 'HK'), (293, 'IK'), (294, 'JK'), (295, 'KK'), (296, 'LK'), (297, 'MK'), (298, 'NK'), (299, 'OK'), (300, 'PK'), (301, 'QK'), (302, 'RK'), (303, 'SK'), (304, 'TK'), (305, 'UK'), (306, 'VK'), (307, 'WK'), (308, 'XK'), (309, 'YK'), (310, 'ZK'), (311, 'AL'), (312, 'BL'), (313, 'CL'), (314, 'DL'), (315, 'EL'), (316, 'FL'), (317, 'GL'), (318, 'HL'), (319, 'IL'), (320, 'JL'), (321, 'KL'), (322, 'LL'), (323, 'ML'), (324, 'NL'), (325, 'OL'), (326, 'PL'), (327, 'QL'), (328, 'RL'), (329, 'SL'), (330, 'TL'), (331, 'UL'), (332, 'VL'), (333, 'WL'), (334, 'XL'), (335, 'YL'), (336, 'ZL'), (337, 'AM'), (338, 'BM'), (339, 'CM'), (340, 'DM'), (341, 'EM'), (342, 'FM'), (343, 'GM'), (344, 'HM'), (345, 'IM'), (346, 'JM'), (347, 'KM'), (348, 'LM'), (349, 'MM'), (350, 'NM'), (351, 'OM'), (352, 'PM'), (353, 'QM'), (354, 'RM'), (355, 'SM'), (356, 'TM'), (357, 'UM'), (358, 'VM'), (359, 'WM'), (360, 'XM'), (361, 'YM'), (362, 'ZM'), (363, 'AN'), (364, 'BN'), (365, 'CN'), (366, 'DN'), (367, 'EN'), (368, 'FN'), (369, 'GN'), (370, 'HN'), (371, 'IN'), (372, 'JN'), (373, 'KN'), (374, 'LN'), (375, 'MN'), (376, 'NN'), (377, 'ON'), (378, 'PN'), (379, 'QN'), (380, 'RN'), (381, 'SN'), (382, 'TN'), (383, 'UN'), (384, 'VN'), (385, 'WN'), (386, 'XN'), (387, 'YN'), (388, 'ZN'), (389, 'AO'), (390, 'BO'), (391, 'CO'), (392, 'DO'), (393, 'EO'), (394, 'FO'), (395, 'GO'), (396, 'HO'), (397, 'IO'), (398, 'JO'), (399, 'KO'), (400, 'LO'), (401, 'MO'), (402, 'NO'), (403, 'OO'), (404, 'PO'), (405, 'QO'), (406, 'RO'), (407, 'SO'), (408, 'TO'), (409, 'UO'), (410, 'VO'), (411, 'WO'), (412, 'XO'), (413, 'YO'), (414, 'ZO'), (415, 'AP'), (416, 'BP'), (417, 'CP'), (418, 'DP'), (419, 'EP'), (420, 'FP'), (421, 'GP'), (422, 'HP'), (423, 'IP'), (424, 'JP'), (425, 'KP'), (426, 'LP'), (427, 'MP'), (428, 'NP'), (429, 'OP'), (430, 'PP'), (431, 'QP'), (432, 'RP'), (433, 'SP'), (434, 'TP'), (435, 'UP'), (436, 'VP'), (437, 'WP'), (438, 'XP'), (439, 'YP'), (440, 'ZP'), (441, 'AQ'), (442, 'BQ'), (443, 'CQ'), (444, 'DQ'), (445, 'EQ'), (446, 'FQ'), (447, 'GQ'), (448, 'HQ'), (449, 'IQ'), (450, 'JQ'), (451, 'KQ'), (452, 'LQ'), (453, 'MQ'), (454, 'NQ'), (455, 'OQ'), (456, 'PQ'), (457, 'QQ'), (458, 'RQ'), (459, 'SQ'), (460, 'TQ'), (461, 'UQ'), (462, 'VQ'), (463, 'WQ'), (464, 'XQ'), (465, 'YQ'), (466, 'ZQ'), (467, 'AR'), (468, 'BR'), (469, 'CR'), (470, 'DR'), (471, 'ER'), (472, 'FR'), (473, 'GR'), (474, 'HR'), (475, 'IR'), (476, 'JR'), (477, 'KR'), (478, 'LR'), (479, 'MR'), (480, 'NR'), (481, 'OR'), (482, 'PR'), (483, 'QR'), (484, 'RR'), (485, 'SR'), (486, 'TR'), (487, 'UR'), (488, 'VR'), (489, 'WR'), (490, 'XR'), (491, 'YR'), (492, 'ZR'), (493, 'AS'), (494, 'BS'), (495, 'CS'), (496, 'DS'), (497, 'ES'), (498, 'FS'), (499, 'GS'), (500, 'HS'), (501, 'IS'), (502, 'JS'), (503, 'KS'), (504, 'LS'), (505, 'MS'), (506, 'NS'), (507, 'OS'), (508, 'PS'), (509, 'QS'), (510, 'RS'), (511, 'SS'), (512, 'TS'), (513, 'US'), (514, 'VS'), (515, 'WS'), (516, 'XS'), (517, 'YS'), (518, 'ZS'), (519, 'AT'), (520, 'BT'), (521, 'CT'), (522, 'DT'), (523, 'ET'), (524, 'FT'), (525, 'GT'), (526, 'HT'), (527, 'IT'), (528, 'JT'), (529, 'KT'), (530, 'LT'), (531, 'MT'), (532, 'NT'), (533, 'OT'), (534, 'PT'), (535, 'QT'), (536, 'RT'), (537, 'ST'), (538, 'TT'), (539, 'UT'), (540, 'VT'), (541, 'WT'), (542, 'XT'), (543, 'YT'), (544, 'ZT'), (545, 'AU'), (546, 'BU'), (547, 'CU'), (548, 'DU'), (549, 'EU'), (550, 'FU'), (551, 'GU'), (552, 'HU'), (553, 'IU'), (554, 'JU'), (555, 'KU'), (556, 'LU'), (557, 'MU'), (558, 'NU'), (559, 'OU'), (560, 'PU'), (561, 'QU'), (562, 'RU'), (563, 'SU'), (564, 'TU'), (565, 'UU'), (566, 'VU'), (567, 'WU'), (568, 'XU'), (569, 'YU'), (570, 'ZU'), (571, 'AV'), (572, 'BV'), (573, 'CV'), (574, 'DV'), (575, 'EV'), (576, 'FV'), (577, 'GV'), (578, 'HV'), (579, 'IV'), (580, 'JV'), (581, 'KV'), (582, 'LV'), (583, 'MV'), (584, 'NV'), (585, 'OV'), (586, 'PV'), (587, 'QV'), (588, 'RV'), (589, 'SV'), (590, 'TV'), (591, 'UV'), (592, 'VV'), (593, 'WV'), (594, 'XV'), (595, 'YV'), (596, 'ZV'), (597, 'AW'), (598, 'BW'), (599, 'CW'), (600, 'DW'), (601, 'EW'), (602, 'FW'), (603, 'GW'), (604, 'HW'), (605, 'IW'), (606, 'JW'), (607, 'KW'), (608, 'LW'), (609, 'MW'), (610, 'NW'), (611, 'OW'), (612, 'PW'), (613, 'QW'), (614, 'RW'), (615, 'SW'), (616, 'TW'), (617, 'UW'), (618, 'VW'), (619, 'WW'), (620, 'XW'), (621, 'YW'), (622, 'ZW'), (623, 'AX'), (624, 'BX'), (625, 'CX'), (626, 'DX'), (627, 'EX'), (628, 'FX'), (629, 'GX'), (630, 'HX'), (631, 'IX'), (632, 'JX'), (633, 'KX'), (634, 'LX'), (635, 'MX'), (636, 'NX'), (637, 'OX'), (638, 'PX'), (639, 'QX'), (640, 'RX'), (641, 'SX'), (642, 'TX'), (643, 'UX'), (644, 'VX'), (645, 'WX'), (646, 'XX'), (647, 'YX'), (648, 'ZX'), (649, 'AY'), (650, 'BY'), (651, 'CY'), (652, 'DY'), (653, 'EY'), (654, 'FY'), (655, 'GY'), (656, 'HY'), (657, 'IY'), (658, 'JY'), (659, 'KY'), (660, 'LY'), (661, 'MY'), (662, 'NY'), (663, 'OY'), (664, 'PY'), (665, 'QY'), (666, 'RY'), (667, 'SY'), (668, 'TY'), (669, 'UY'), (670, 'VY'), (671, 'WY'), (672, 'XY'), (673, 'YY'), (674, 'ZY'), (675, 'AZ'), (676, 'BZ'), (677, 'CZ'), (678, 'DZ'), (679, 'EZ'), (680, 'FZ'), (681, 'GZ'), (682, 'HZ'), (683, 'IZ'), (684, 'JZ'), (685, 'KZ'), (686, 'LZ'), (687, 'MZ'), (688, 'NZ'), (689, 'OZ'), (690, 'PZ'), (691, 'QZ'), (692, 'RZ'), (693, 'SZ'), (694, 'TZ'), (695, 'UZ'), (696, 'VZ'), (697, 'WZ'), (698, 'XZ'), (699, 'YZ'), (700, 'ZZ'), (701, 'AAA'), (702, 'BAA'), (703, 'CAA'), (704, 'DAA'), (705, 'EAA'), (706, 'FAA'), (707, 'GAA'), (708, 'HAA'), (709, 'IAA'), (710, 'JAA'), (711, 'KAA'), (712, 'LAA'), (713, 'MAA'), (714, 'NAA'), (715, 'OAA'), (716, 'PAA'), (717, 'QAA'), (718, 'RAA'), (719, 'SAA'), (720, 'TAA'), (721, 'UAA'), (722, 'VAA'), (723, 'WAA'), (724, 'XAA'), (725, 'YAA'), (726, 'ZAA'), (727, 'ABA'), (728, 'BBA'), (729, 'CBA'), (730, 'DBA'), (731, 'EBA'), (732, 'FBA'), (733, 'GBA'), (734, 'HBA'), (735, 'IBA'), (736, 'JBA'), (737, 'KBA'), (738, 'LBA'), (739, 'MBA'), (740, 'NBA'), (741, 'OBA'), (742, 'PBA'), (743, 'QBA'), (744, 'RBA'), (745, 'SBA'), (746, 'TBA'), (747, 'UBA'), (748, 'VBA'), (749, 'WBA'), (750, 'XBA'), (751, 'YBA'), (752, 'ZBA'), (753, 'ACA'), (754, 'BCA'), (755, 'CCA'), (756, 'DCA'), (757, 'ECA'), (758, 'FCA'), (759, 'GCA'), (760, 'HCA'), (761, 'ICA'), (762, 'JCA'), (763, 'KCA'), (764, 'LCA'), (765, 'MCA'), (766, 'NCA'), (767, 'OCA'), (768, 'PCA'), (769, 'QCA'), (770, 'RCA'), (771, 'SCA'), (772, 'TCA'), (773, 'UCA'), (774, 'VCA'), (775, 'WCA'), (776, 'XCA'), (777, 'YCA'), (778, 'ZCA'), (779, 'ADA'), (780, 'BDA'), (781, 'CDA'), (782, 'DDA'), (783, 'EDA'), (784, 'FDA'), (785, 'GDA'), (786, 'HDA'), (787, 'IDA'), (788, 'JDA'), (789, 'KDA'), (790, 'LDA'), (791, 'MDA'), (792, 'NDA'), (793, 'ODA'), (794, 'PDA'), (795, 'QDA'), (796, 'RDA'), (797, 'SDA'), (798, 'TDA'), (799, 'UDA'), (800, 'VDA'), (801, 'WDA'), (802, 'XDA'), (803, 'YDA'), (804, 'ZDA'), (805, 'AEA'), (806, 'BEA'), (807, 'CEA'), (808, 'DEA'), (809, 'EEA'), (810, 'FEA'), (811, 'GEA'), (812, 'HEA'), (813, 'IEA'), (814, 'JEA'), (815, 'KEA'), (816, 'LEA'), (817, 'MEA'), (818, 'NEA'), (819, 'OEA'), (820, 'PEA'), (821, 'QEA'), (822, 'REA'), (823, 'SEA'), (824, 'TEA'), (825, 'UEA'), (826, 'VEA'), (827, 'WEA'), (828, 'XEA'), (829, 'YEA'), (830, 'ZEA'), (831, 'AFA'), (832, 'BFA'), (833, 'CFA'), (834, 'DFA'), (835, 'EFA'), (836, 'FFA'), (837, 'GFA'), (838, 'HFA'), (839, 'IFA'), (840, 'JFA'), (841, 'KFA'), (842, 'LFA'), (843, 'MFA'), (844, 'NFA'), (845, 'OFA'), (846, 'PFA'), (847, 'QFA'), (848, 'RFA'), (849, 'SFA'), (850, 'TFA'), (851, 'UFA'), (852, 'VFA'), (853, 'WFA'), (854, 'XFA'), (855, 'YFA'), (856, 'ZFA'), (857, 'AGA'), (858, 'BGA'), (859, 'CGA'), (860, 'DGA'), (861, 'EGA'), (862, 'FGA'), (863, 'GGA'), (864, 'HGA'), (865, 'IGA'), (866, 'JGA'), (867, 'KGA'), (868, 'LGA'), (869, 'MGA'), (870, 'NGA'), (871, 'OGA'), (872, 'PGA'), (873, 'QGA'), (874, 'RGA'), (875, 'SGA'), (876, 'TGA'), (877, 'UGA'), (878, 'VGA'), (879, 'WGA'), (880, 'XGA'), (881, 'YGA'), (882, 'ZGA'), (883, 'AHA'), (884, 'BHA'), (885, 'CHA'), (886, 'DHA'), (887, 'EHA'), (888, 'FHA'), (889, 'GHA'), (890, 'HHA'), (891, 'IHA'), (892, 'JHA'), (893, 'KHA'), (894, 'LHA'), (895, 'MHA'), (896, 'NHA'), (897, 'OHA'), (898, 'PHA'), (899, 'QHA'), (900, 'RHA'), (901, 'SHA'), (902, 'THA'), (903, 'UHA'), (904, 'VHA'), (905, 'WHA'), (906, 'XHA'), (907, 'YHA'), (908, 'ZHA'), (909, 'AIA'), (910, 'BIA'), (911, 'CIA'), (912, 'DIA'), (913, 'EIA'), (914, 'FIA'), (915, 'GIA'), (916, 'HIA'), (917, 'IIA'), (918, 'JIA'), (919, 'KIA'), (920, 'LIA'), (921, 'MIA'), (922, 'NIA'), (923, 'OIA'), (924, 'PIA'), (925, 'QIA'), (926, 'RIA'), (927, 'SIA'), (928, 'TIA'), (929, 'UIA'), (930, 'VIA'), (931, 'WIA'), (932, 'XIA'), (933, 'YIA'), (934, 'ZIA'), (935, 'AJA'), (936, 'BJA'), (937, 'CJA'), (938, 'DJA'), (939, 'EJA'), (940, 'FJA'), (941, 'GJA'), (942, 'HJA'), (943, 'IJA'), (944, 'JJA'), (945, 'KJA'), (946, 'LJA'), (947, 'MJA'), (948, 'NJA'), (949, 'OJA'), (950, 'PJA'), (951, 'QJA'), (952, 'RJA'), (953, 'SJA'), (954, 'TJA'), (955, 'UJA'), (956, 'VJA'), (957, 'WJA'), (958, 'XJA'), (959, 'YJA'), (960, 'ZJA'), (961, 'AKA'), (962, 'BKA'), (963, 'CKA'), (964, 'DKA'), (965, 'EKA'), (966, 'FKA'), (967, 'GKA'), (968, 'HKA'), (969, 'IKA'), (970, 'JKA'), (971, 'KKA'), (972, 'LKA'), (973, 'MKA'), (974, 'NKA'), (975, 'OKA'), (976, 'PKA'), (977, 'QKA'), (978, 'RKA'), (979, 'SKA'), (980, 'TKA'), (981, 'UKA'), (982, 'VKA'), (983, 'WKA'), (984, 'XKA'), (985, 'YKA'), (986, 'ZKA'), (987, 'ALA'), (988, 'BLA'), (989, 'CLA'), (990, 'DLA'), (991, 'ELA'), (992, 'FLA'), (993, 'GLA'), (994, 'HLA'), (995, 'ILA'), (996, 'JLA'), (997, 'KLA'), (998, 'LLA'), (999, 'MLA'), (1000, 'NLA'), (1001, 'OLA'), (1002, 'PLA'), (1003, 'QLA'), (1004, 'RLA'), (1005, 'SLA'), (1006, 'TLA'), (1007, 'ULA'), (1008, 'VLA'), (1009, 'WLA'), (1010, 'XLA'), (1011, 'YLA'), (1012, 'ZLA'), (1013, 'AMA'), (1014, 'BMA'), (1015, 'CMA'), (1016, 'DMA'), (1017, 'EMA'), (1018, 'FMA'), (1019, 'GMA'), (1020, 'HMA'), (1021, 'IMA'), (1022, 'JMA'), (1023, 'KMA'), (1024, 'LMA'), (1025, 'MMA'), (1026, 'NMA'), (1027, 'OMA'), (1028, 'PMA'), (1029, 'QMA'), (1030, 'SMA'), (1031, 'TMA'), (1032, 'UMA'), (1033, 'VMA'), (1034, 'WMA'), (1035, 'XMA'), (1036, 'YMA'), (1037, 'ZMA'), (1038, 'ANA'), (1039, 'BNA'), (1040, 'CNA'), (1041, 'DNA'), (1042, 'ENA'), (1043, 'FNA'), (1044, 'GNA'), (1045, 'HNA'), (1046, 'INA'), (1047, 'JNA'), (1048, 'KNA'), (1049, 'LNA')]
--------------------------------------
Activity alphabet:
['Release A', 'Release B', 'LacticAcid', 'ER Registration', 'Leucocytes', 'ER Triage', 'Release E', 'IV Liquid', 'Admission NC', 'Return ER', 'ER Sepsis Triage', 'Release C', 'Admission IC', 'IV Antibiotics', 'Release D', 'CRP']
--------------------------------------
Resource alphabet:
{'L', 'U', 'C', 'T', 'V', 'M', 'A', 'W', 'K', 'Q', 'E', 'F', 'J', 'D', 'R', 'I', 'O', 'H', 'G', 'X', '?', 'Y', 'S', 'P', 'N', 'B'}
--------------------------------------

A log is a complex data structure that can be explored along several dimensions. The functions `activities_log_projection` and `resources_log_projection` project the cases in the log according to the activities and resources dimensions, respectively. Each projection is a list (the log) of lists (the single cases) containing the name of the activity/resource.

In [ ]:
# Activity projection
for idx, trace in enumerate(d4py.activities_log_projection()):
    print(f"{idx}- {trace}")
print("--------------------------------------")

# Resource projection
for idx, trace in enumerate(d4py.resources_log_projection()):
    print(f"{idx}- {trace}")
print("--------------------------------------")

A useful utily for logs is the one hot encoding according to the `act` or `payload` dimensions. These encodings can be useful for statistical analysis or Machine Learning tasks. The returned data type is a Pandas Dataframe.

In [5]:
# One hot encoding for activities
d4py.log_encoding(dimension='act')

,Admission IC,Admission NC,CRP,ER Registration,ER Sepsis Triage,ER Triage,IV Antibiotics,IV Liquid,LacticAcid,Leucocytes,Release A,Release B,Release C,Release D,Release E,Return ER
0,False,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False
1,False,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False
2,False,True,True,True,True,True,True,True,False,True,True,False,False,False,False,False
3,False,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
4,False,False,True,True,True,True,True,True,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,True,True,True,True,True,True,True,False,True,True,True,False,False,False,False,False
1046,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False
1047,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False
1048,False,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False
1049,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False

In [6]:
# One hot encoding for payload
d4py.log_encoding(dimension='payload')

,?,A,B,C,D,E,F,G,H,I,...,P,Q,R,S,T,U,V,W,X,Y
0,False,True,True,True,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,True,True,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,True,True,False,True,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
3,True,True,True,True,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,False,True,True,True,False,True,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1046,False,True,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1047,False,True,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1048,False,True,True,True,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1049,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## Frequent Itemsets

Declare4Py offers support for computing the frequent itemsets of activities/resources in the log. The function `compute_frequent_itemsets` takes as input the `min_support` of the itemsets, the `algorithm` to perform the computation (available `fpgrowth` and `apriori`) and `len_itemset` indicating the maximum length of the itemsets, the default is `None`.

In [7]:
d4py.compute_frequent_itemsets(min_support=0.8, algorithm='fpgrowth', len_itemset=3)
d4py.frequent_item_sets

     support                                         itemsets  length
0   1.000000                                      (ER Triage)       1
1   1.000000                                (ER Registration)       1
2   0.999048                               (ER Sepsis Triage)       1
3   0.963810                                     (Leucocytes)       1
4   0.959048                                            (CRP)       1
5   0.819048                                     (LacticAcid)       1
6   1.000000                     (ER Triage, ER Registration)       2
7   0.999048              (ER Registration, ER Sepsis Triage)       2
8   0.999048                    (ER Triage, ER Sepsis Triage)       2
9   0.999048   (ER Triage, ER Registration, ER Sepsis Triage)       3
10  0.963810                    (Leucocytes, ER Registration)       2
11  0.963810                          (Leucocytes, ER Triage)       2
12  0.962857                   (Leucocytes, ER Sepsis Triage)       2
13  0.963810         (Leucocytes, ER Triage, ER Registration)       3
14  0.962857  (Leucocytes, ER Registration, ER Sepsis Triage)       3
15  0.962857        (Leucocytes, ER Triage, ER Sepsis Triage)       3
17  0.959048                           (ER Registration, CRP)       2
18  0.959048                                 (ER Triage, CRP)       2
19  0.958095                                (Leucocytes, CRP)       2
20  0.958095                          (ER Sepsis Triage, CRP)       2
21  0.959048                (ER Triage, ER Registration, CRP)       3
22  0.958095                     (Leucocytes, ER Triage, CRP)       3
23  0.958095               (Leucocytes, ER Registration, CRP)       3
25  0.958095               (ER Triage, ER Sepsis Triage, CRP)       3
26  0.958095         (ER Sepsis Triage, ER Registration, CRP)       3
27  0.957143              (Leucocytes, ER Sepsis Triage, CRP)       3
32  0.819048                                (LacticAcid, CRP)       2
33  0.819048                         (Leucocytes, LacticAcid)       2
34  0.819048                    (LacticAcid, ER Registration)       2
35  0.819048                          (ER Triage, LacticAcid)       2
36  0.818095                   (LacticAcid, ER Sepsis Triage)       2
37  0.819048                    (Leucocytes, LacticAcid, CRP)       3
38  0.819048               (LacticAcid, ER Registration, CRP)       3
39  0.819048                     (ER Triage, LacticAcid, CRP)       3
40  0.818095              (LacticAcid, ER Sepsis Triage, CRP)       3
41  0.819048        (Leucocytes, LacticAcid, ER Registration)       3
42  0.819048              (Leucocytes, ER Triage, LacticAcid)       3
43  0.818095       (Leucocytes, LacticAcid, ER Sepsis Triage)       3
44  0.819048         (ER Triage, LacticAcid, ER Registration)       3
45  0.818095  (LacticAcid, ER Registration, ER Sepsis Triage)       3
46  0.818095        (ER Triage, LacticAcid, ER Sepsis Triage)       3